.container {
  color: blue;
}

.bi {
  width: 20px;
  height: 20px;
}

.red {
  fill: #c8303f;
}

.green {
  fill: green;
}

.warning {
  fill: rgb(108, 108, 72);
}
.info {
  fill: #0dcaf0;
}

.triangle {
  border-radius: 0;
}
